<?xml version="1.0"?>
<!--
/**
 * @category  Smile
 * @package   Smile\RetailerAdmin
 * @author    Florent Maissiat <florent.maissiat@smile.eu>
 * @copyright 2019 Smile
 * @license   OSL-3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Smile_RetailerAdmin" setup_version="1.0.6">
        <sequence>
            <module name="Magento_AdminGws"/>
            <module name="Magento_Authorization"/>
            <module name="Magento_User"/>
        </sequence>
    </module>
</config>
