<?xml version="1.0"?>
<!--
/**
 * @category  Smile
 * @package   Smile\RetailerAdmin
 * @author    Florent Maissiat <florent.maissiat@smile.eu>
 * @copyright 2019 Smile
 * @license   OSL-3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Eav\Model\Entity\Collection\AbstractCollection">
        <plugin name="filter-retailer-before-load" type="Smile\RetailerAdmin\Plugin\Eav\Model\Entity\Collection\AbstractCollectionPlugin" />
    </type>
    <type name="Magento\Framework\Data\Collection\AbstractDb">
        <plugin name="filter-retailer-before-load" type="Smile\RetailerAdmin\Plugin\Framework\Data\Collection\AbstractDbPlugin" />
    </type>
    <type name="Magento\Customer\Model\ResourceModel\Grid\Collection">
        <plugin name="filter-retailer-on-customer-grid" type="Smile\RetailerAdmin\Plugin\Customer\Model\ResourceModel\Grid\CollectionPlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\Index\Edit">
        <plugin name="filter-customer-with-wrong-retailer" type="Smile\RetailerAdmin\Plugin\Customer\Controller\Adminhtml\Index\EditPlugin" />
    </type>
</config>
